.ranking-page-container{
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .ranking-container{
        width: 80%;
        .ranking-body{
            background-color: #ffffff; 
            border-radius: 1rem;
            margin-top: 4.8rem;
            margin-bottom: 4.5rem;
            
            .ranking-header{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 3rem;
                margin-top: 2.8rem;
                padding-top: 2.8rem;
                .crown-icon{
                    width: 3.4rem;
                    height: 3.4rem;
                    margin-right: 1.6rem;
                }
                .ranking-heading{
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 2.8rem;
                    line-height: 3.4rem;
                }
            }
            .ranking-option-container {
                display: flex;
                flex-direction: row;
                justify-content: right;
                margin-bottom: 2.4rem;
                .ranking-option{
                    margin-right: 2.6rem;
                    border-color: #fff;
                    border-radius: 0.5rem;
                    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.2);
                    .button-option{
                        font-family: 'Montserrat';
                        font-size: 1.2rem;
                        border-color: #fff;
                        color: #000;
                    }
                    .button-option.button-week{
                        width: 5.6rem;
                        border-color: #fff;
                    }
                    .button-option.button-month{
                        width: 7rem;
                    }
                    .button-option.active{
                        background-color: #7C7A88;
                        color: #fff;
                    }
                }
            }
            
        }
    }
}
