.card-body {
  padding: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  margin: 1rem;
  margin-right: 2rem;
  margin-left: 2.4rem;
  position: relative;
  border-radius: 1rem;
  .card-number {
    font-family: "Montserrat";
    font-size: 1.4rem;
    line-height: 6rem;
    font-weight: 700;
    margin-left: 1.6rem;
    margin-right: 2.4rem;
  }
  .card-user-avatar {
    width: 4rem;
    height: 4rem;
    margin: 1.2rem;
    border-radius: 100%;
    margin-right: 24px;
  }
  .card-user-name {
    font-family: "Montserrat";
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card-username {
    font-size: 1.4rem;
    color: #535353;
    margin-top: 4px;
  }
  .card-user-point {
    float: right;
    font-family: "Montserrat";
    line-height: 6rem;
    font-weight: 700;
    margin-left: 1.6rem;
    margin-right: 4rem;
    position: absolute;
    right: 0;
    font-size: 1.4rem;
  }
  &:hover {
    background-color: #f1f1f1 !important;
    cursor: pointer;
  }
}
