.profile {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;

    .title-profile {
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: swrap;
        justify-content: space-between;

        button {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #747474;
        }

        .btn-group {
            display: flex;
            padding-right: 1rem;
            button {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.7rem;
                color: #000000;
                background-color: #FFFFFF;

                svg {
                    height: 1.8rem;
                    width: 1.8rem;
                    margin-right: 0.7rem;
                }

                border: none;
            }
        }

    }

    .information-group {
        margin-top: 0.5rem;

        .left-grid {
            padding: 2rem;

            .avatar-group {
                padding: 0rem;
                display: flex;
                justify-content: left;
                position: relative;
                margin-bottom: 2.4rem;
            }

            .inform-item {
                margin-bottom: 3.6rem;

                .name-inform {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.4rem;
                    color: #000000;
                    margin-bottom: 0.8rem;
                }

                .value-inform {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    color: #000000;
                }
            }

            .btn-contained {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: #FFFFFF;
                background-color: #4B4BEC;
                text-transform: none;
                padding: 1.2rem;
                width: 24.5rem;
            }
        }

        .right-grid {
            padding: 2rem;

            .courses-exams-group {
                padding: 0rem;

                .courses-list {
                    padding-right: 2rem;
                    padding-bottom: 3.2rem;
                }

                .exams-list {
                    padding-right: 2rem;
                    padding-bottom: 3.2rem;
                }
            }

            h5 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.4rem;
                color: #000000;
            }

            .course-item {
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--primary-color);
                }

                margin-top: 0.8rem;
            }

            .history-transaction_table {
                h5 {
                    margin-bottom: 3.3rem;
                }
            }
        }


    }
}