.home-wrapper{
    padding: 0 22px;
    padding-top: 40px;
    padding-bottom: 48px;
    background-color: #f4f4f4;

    
    .carousel .slider-wrapper{
        border-radius: 16px;
    }

    
    .slick-prev:before{
        color: red;
    }
    .slick-next::before{
        color: red;
    }

    .hidden-line{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 300px;
        max-width: 500px;
    }
}


