.home-wrapper{
    padding: 0 22px;
    padding-top: 40px;
    padding-bottom: 48px;
    background-color: #f4f4f4;

    
    .carousel .slider-wrapper{
        border-radius: 16px;
    }

    
    .slick-prev:before{
        color: red;
    }
    .slick-next::before{
        color: red;
    }

    .hidden-line{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 300px;
        max-width: 500px;
    }

    .css-1ri6ub7-MuiPaper-root-MuiCard-root{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;;
    }

    .css-1ri6ub7-MuiPaper-root-MuiCard-root{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;;
    }

    .css-1j4k3n5-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
        background-color: #7B68EE;
        color: white;
        font-size: 16px;
        font-weight: 600;
    }

    .css-1j4k3n5-MuiButtonBase-root-MuiPaginationItem-root{
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
}


