.credit-container{
    width: 100%;
    text-align: center;
    .credit-icon{
        color: #7B68EE;
        margin-bottom: 0.6rem;
    }
    .label{
        font-weight: 700;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
    }
    .sologan{
        font-weight: 400;
        font-size: 1.6rem;
    }
}