.single-course-form-wrapper {
  margin-top: 18px;
  se-btn {
    display: inline-block;
    max-width: 100px;
  }
  input{
      margin: unset;
      width: 320px;
  }

  textarea{
    width: 100%;
    height: 90px;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    &:focus{
      border-radius: 1px solid #000;
    }
  }
  span.input-label, label {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
  }
  .justify-content-between {
    label {
      display: inline-block;
      width: 120px;
    }
    input[type="text"] {
      width: 100%;
    }
  }

  .aspect-ratio {
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
  }
  .mb-3{
    margin-bottom: 18px;
  }

  .mb-2{
    margin-bottom: 12px;
  }

  /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  .aspect-ratio img,
  .aspect-ratio iframe {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .add-new-item-to-list-wrapper .se-btn{
    margin-left: 12px;
    height: 37px;
    font-weight: 500;
    font-size: 1.4rem;

  }
}
