.toast {
    position: fixed;
    z-index: 10000;
    top: 80px;
    right: -450px;
    width: 400px;
    padding: 10px 24px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 10px 10px 0;
    border-left: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease-in-out;
    .title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
    }

    .Message {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #767676;
    }
}

.toast.show {
    top: 80px;
    right: 50px;
}