.sign-up-page-wrapper {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a2d3f001-96f0-4cfc-9d04-e7d5d742060f/df04q4s-3e509513-b804-4d95-a505-2aa5094f6d29.jpg/v1/fill/w_1280,h_852,q_75,strp/tony_by_night_by_la_tete_ailleurs_df04q4s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODUyIiwicGF0aCI6IlwvZlwvYTJkM2YwMDEtOTZmMC00Y2ZjLTlkMDQtZTdkNWQ3NDIwNjBmXC9kZjA0cTRzLTNlNTA5NTEzLWI4MDQtNGQ5NS1hNTA1LTJhYTUwOTRmNmQyOS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kWqYCFjpW1ZZPo5GN2mcpf7L9lDzx3Hi16CYEIBjReQ");
    background-position: center;
    background-size: cover;
      
      .se-btn {
        width: 100%;
      }
      .outline-btn {
        background: #ffffff;
        border: 1px solid #989898;
        box-sizing: border-box;
        color: #000;
      }
  
      .google-login {
        background-color: #e24747;
      }
  
      .facebook-login {
        background-color: #566eef;
      }
  
      p {
        font-size: 14px;
      }
    
  
    
      .sign-up-form-modal{
        padding-left: 40px;
        padding-right: 40px;
        width: 94%;
        max-width: 700px;
        position: relative;
      }
  
      .back-btn{
          position: absolute;
          top: 12px;
          left: 58px;
          font-size: 2rem;
          color: #999;
  
          &:hover{
              cursor: pointer;
              opacity: 0.6;
          }
      }
  
      input {
        border-radius: 20px;
        font-family: "Montserrat", sans-serif !important;
      }
  
      .se-btn {
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        height: 56px;
      }
    
  
    .app-logo {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      background-color: var(--primary-color);
    }
  
    .modal-title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      margin-top: 36px;
      margin-bottom: 31px;
    }

    .resend-password{
      color: var(--primary-color);
      font-weight: 600;
      text-align: center;
      font-size: 1rem;

      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
  