.overall-wapper {
    width: 100%;
    background-color: #F4F4F4;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .overall-container{
        width: 80%;
        background-color: #fff;
        .title{
            padding-top: 4.2rem;
            width: 100%;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
        }
        .table-container{
            text-align: center;
            margin-top: 2rem;
            width: 100%;
            text-align: center;
            .table-header{
                margin-left: 1.2rem;
                margin-right: 2.4rem;
                justify-self: center;
                
                .heading{
                    display: flex;
                    justify-content: space-between;
                    .header{
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                    .export{
                        display: flex;
                        font-size: 1.8rem;
                        font-weight: 500;
                        line-height: 2.4rem;
                        .export-title{
                            margin-left: 1rem;
                        }
                    }
                }
                .filter-container{
                    display: flex;
                    .filter-label{
                        display: flex;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 2.4rem;
                    }
                    .filter-input{
                        height: 2.4rem;
                        margin-left: 1.2rem;
                    }
                }
            }
        }
    }
    
}