
.profile{
    flex-wrap: wrap-reverse;
    .title-profile{
        padding-top: 4.8rem;
        display: flex;
        flex-wrap: nowrap;
        h1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 2.8rem;
            line-height: 3.4rem;
            color: #000000;
        }
        button{
            margin-left: 2.4rem;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #000000;
            svg{
                height: 1.8rem;
                width: 1.8rem;
                margin-right: 0.7rem;
            }
            border: none;
        }
    }
    .information-group{
        padding-top: 3.6rem;
        display: flex;
        flex-wrap: wrap-reverse;
        .information-list{
            padding: 20px; 
            .inform-item{ 
                margin-bottom: 3.6rem;
                .name-inform{
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.4rem;
                    color: #000000;
                }
                .value-inform{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    color: #000000;
                }
            }
            .btn-contained{
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: #FFFFFF;
                background-color: var( --primary-color);
                text-transform: none;
                padding: 1.2rem;
                width: 24.5rem;
            }
            .btn-text{
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.7rem;
                color: #000000;
                background-color: transparent;
                padding: 1.2rem;
                width: 24.5rem;
            }
        }
        .list-course{
            padding: 20px;
            h5{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }
            .course-item{
                a{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--primary-color);
                }
                margin-top: 0.8rem;
            }
        }
        .avatar-group{
            padding: 20px;
            display: flex;
            justify-content: center;
            div{
                text-align: center;
            .btn-contained{
                margin-top: 20px;
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: #FFFFFF;
                background-color: var( --primary-color);
                text-transform: none;
                padding: 1.2rem;
                height: 4.6rem;
            }
            }
            
        }
        
    }
}