.notification-item{
    font-size: 14px;
    color: black;
    line-height: 18px;
    color: #08c;
    font-weight: 500;
}
.notification-item:hover{
    color: #005580;
}

.notification-time {
    color: #005580;
}

.notification-time:hover {
    color: #005580;
}