.manager-side-bar-wrapper {
  height: 100vh;
  width: 256px;

  background-color: var(--primary-color);

  .branding-heading {
    height: 66px;
    background-color: #5e50b1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 1.8rem !important;
      color: white;
      font-weight: bold;
    }
  }

  a{
      display: block;
  }
  .manager-nav-item {
    display: flex;

    .manager-nav-leading {
      font-size: 2.4rem;
      color: white;
    }

    .manager-nav-content span {
      font-size: 1.4rem;
      color: white;
      margin-left: -8px;
      display: inline-block;
      font-family: inherit;
    }
    .active {
      :first-child {
        background-color: #e6e6e6;
      }
    }
  }
}
