.manager-wrapper {
  display: flex;
  position: relative;
  .manager-content-wrapper {
    flex: 1;
    margin-top: 66px;
  }
}



.manager-fa-ke-modal{
  margin: 24px;
  padding: 12px;
  padding-bottom: 24px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);


  .top-action-bar{
    margin-bottom: 18px;
  }
}


