.comment-section{
    margin-top: 2.2rem;
    .comment-item{
        margin-bottom: 0.8rem;
        .comment-heading{
            display: flex;
            .user-avatar{
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 100%;
                margin-right: 0.8rem;
            }
            .comment-container{
                background-color: #F4F4F4;
                display: inline-block;
                padding: 1.2rem;
                border-radius: 1rem;
                .user-name{
                    font-weight: 600;
                    font-family: 'Montserrat';
                    font-size: 1.8rem;
                    margin-bottom: 0.8rem;
                }
                .comment-content{
                    font-size: 1.4rem;
                }
            }
        }
        .comment-interact{
            display: flex;
            margin-left: 5.6rem;
            margin-top: 0.4rem;
            .interact-item{
                font-size: 1.2rem;
                margin-right: 1.2rem;
            }
            .interact-item.like{
                font-weight: 600;
                color: #626262;
            }
            .interact-item.like.active{
                color: #7B68EE;
            }
            .interact-time{
                font-size: 1.2rem;
            }
        }
        .reply{
            margin-left: 4.4rem;
            margin-top: 0.4rem;
            .hide-answer {
                display: flex;
                align-items: flex-end;
                .title{
                    font-weight: 700;
                    margin-right: 0.5rem;
                }
                .icon{
                    margin-bottom: 0.5rem;
                }
            }
            .reply-comment{
                margin-top: 0.4rem;
                display: flex;
                .side-divider{
                    width: 0.1rem;
                    height: 8rem;
                    margin-right: 1.4rem;
                    background-color: #7B68EE;
                }
            }
            
        }
    }
    
}