.comment-section{
    margin-top: 2.2rem;
    .comment-item{
        margin-bottom: 0.8rem;
        width: 100%;
        position: relative;
        .comment-heading{
            display: flex;
            .user-avatar{
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 100%;
                margin-right: 0.8rem;
            }
            .gray-scale{
                filter: grayscale(100%);
            }
            .comment-container{
                background-color: #F4F4F4;
                display: inline-block;
                padding: 1.2rem;
                border-radius: 1rem;
                position: relative;
                .user-name{
                    font-weight: 600;
                    font-family: 'Montserrat';
                    font-size: 1.8rem;
                    margin-bottom: 0.8rem;
                }
                .comment-content{
                    font-size: 1.4rem;
                } 
                .comment-interaction{
                    position: absolute;
                    display: flex;
                    background-color: #fff;
                    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
                    padding: 0.2rem;
                    border-radius: 4px;
                    right: 0;
                    .interact-icon{
                        color: #7b68ee;
                    }
                    .like-count{
                        font-size: 1.4rem;
                        line-height: 2rem;
                        margin-left: 4px;
                    }
                } 
            }
            .gray-scale{
                background-color: #d3d1d1;
            }
            .comment-manage{
                width: 2.4rem;
                height: 2.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                margin-top: 1.8rem;
                margin-left: 0.8rem;
                position: relative;
                .open-modal{
                    &:hover{
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
                .comment-modal{
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    margin-left: 8px;
                    margin-top: 12px;
                    position: absolute;
                    width: 440%;
                    background-color: #fff;
                    top: -10px;
                    right: -116px;
                    padding: 6px 0p;
                    z-index: 10;
                    .modal-item{
                        &:hover{
                            background-color: #f4f4f4;
                            cursor: pointer;
                        }
                        padding: 6px 12px;
                        font-size: 1.4rem;
                    }
                    
                }
            }
            
        }
        .comment-editting{
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            margin-left: 0rem;
            width: calc(100%);
            position: relative;
            .comment-editting-heading{
                display: flex;
                width: 100%;
                .current-user-avatar{
                    width: 36px;
                    height: 36px;
                    border-radius: 100%;
                    margin-right: 1.2rem;
                }
                .comment-box{
                    width: 100%;
                    height: 3.6rem;
                    margin-right: 1.2rem;
                    padding: 1.2rem;
                    border-radius: 3.6rem;
                    border: 1px solid #999999!important;
                }
                .comment-box:focus{
                    border: 1px solid #999999;
                }
                .comment-box:focus-visible{
                    border: 1px solid #999999;
                }
                .add-img-label{
                    position: absolute;
                    right: 17rem;
                    top: 0.4rem; 
                    &:hover{
                        cursor: pointer;
                        opacity: 0.7;
                    }
                    .add-image-icon{
                        color: #999999;
                    }
                }
                .button-edit-cancel{
                    background-color: #CC3D3D;
                    margin-right: 0.6rem;
                }
                .button-edit-confirm{
                    background-color: #2CA94F;
                }
            }
            .big-comment-image{
                .big-comment-image-add-hidden{
                    display: none;
                }
                .big-comment-img-display-temp-container{
                    margin-top: 0.8rem;
                    margin-left: 4.4rem;
                    animation: spin 10s linear infinite;
                    border: 2px dashed #2afc98;
                    border-radius: 50%;
                    width: 16rem;
                    height: 16rem;
                    .big-comment-img-display-temp{
                        width: 16rem;
                        height: 16rem;
                        object-fit: cover;
                        animation: spin2 10s linear infinite;
                        border-radius: 50%;
                    }
                }
                @keyframes spin { 
                    100% { 
                      transform: rotateZ(360deg);
                    }
                }
                @keyframes spin2 { 
                    100% { 
                      transform: rotateZ(-360deg);
                    }
                }
                .comment-link-container{
                    position: relative;
                    width: 16rem;
                    height: 16rem;
                    .big-comment-img-display{
                        margin-top: 0.8rem;
                        margin-left: 4.4rem;
                        width: 16rem;
                        height: 16rem;
                        object-fit: cover;
                    }
                    &:hover{
                        filter: grayscale(30%);
                        .delete-reply-img-link{
                            display: block;
                        }
                    }
                    .delete-reply-img-link{
                        display: none;
                        position: absolute;
                        left: 9rem;
                        top: 50%;
                        background-color: #fff;
                        padding: 4px 10px;
                        font-size: 1.2rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                
            }
        }
        .comment-interact{
            display: flex;
            margin-left: 5.6rem;
            margin-top: 0.4rem;
            .interact-item{
                font-size: 1.2rem;
                margin-right: 1.2rem;
                &:hover{
                    opacity: 0.6;
                    cursor: pointer;
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                }
            }
            .interact-item.like{
                font-weight: 600;
                color: #626262;
            }
            .interact-item.like.active{
                color: #7B68EE;
            }
            .interact-time{
                font-size: 1.2rem;
            }

        }
        .comment-image{
            width: 30%;
            margin-left: 4.4rem;
        }
        .user-reply-comment{
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            margin-left: 4.4rem;
            width: calc(100% - 4.4rem);
            position: relative;
            .user-reply-heading{
                display: flex;
                width: 100%;
                .current-user-avatar{
                    width: 36px;
                    height: 36px;
                    border-radius: 100%;
                    margin-right: 1.2rem;
                }
                .comment-box{
                    width: 100%;
                    height: 3.6rem;
                    margin-right: 2.4rem;
                    padding: 1.2rem;
                    border-radius: 3.6rem;
                    border: 1px solid #999999!important;
                }
                .comment-box:focus{
                    border: 1px solid #999999;
                }
                .comment-box:focus-visible{
                    border: 1px solid #999999;
                }
                .add-img-label{
                    position: absolute;
                    right: 6rem;
                    top: 0.4rem; 
                    &:hover{
                        cursor: pointer;
                        opacity: 0.7;
                    }
                    .add-image-icon{
                        color: #999999;
                    }
                }
                
                .send-comment{
                    margin-top: 0.4rem;
                    margin-left: -0.4rem;
                    color: #555;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
            .big-comment-image{
                .big-comment-image-add-hidden{
                    display: none;
                }
                .big-comment-img-display-temp-container{
                    margin-top: 0.8rem;
                    margin-left: 4.4rem;
                    animation: spin 10s linear infinite;
                    border: 2px dashed #2afc98;
                    border-radius: 50%;
                    width: 16rem;
                    height: 16rem;
                    .big-comment-img-display-temp{
                        width: 16rem;
                        height: 16rem;
                        object-fit: cover;
                        animation: spin2 10s linear infinite;
                        border-radius: 50%;
                    }
                }
                @keyframes spin { 
                    100% { 
                      transform: rotateZ(360deg);
                    }
                }
                @keyframes spin2 { 
                    100% { 
                      transform: rotateZ(-360deg);
                    }
                }
                .comment-link-container{
                    position: relative;
                    width: 16rem;
                    height: 16rem;
                    .big-comment-img-display{
                        margin-top: 0.8rem;
                        margin-left: 4.4rem;
                        width: 16rem;
                        height: 16rem;
                        object-fit: cover;
                    }
                    &:hover{
                        filter: grayscale(30%);
                        .delete-reply-img-link{
                            display: block;
                        }
                    }
                    .delete-reply-img-link{
                        display: none;
                        position: absolute;
                        left: 9rem;
                        top: 50%;
                        background-color: #fff;
                        padding: 4px 10px;
                        font-size: 1.2rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                
            }
            
        }
        .reply{
            margin-left: 4.4rem;
            margin-top: 0.4rem;
            .hide-answer {
                display: flex;
                align-items: flex-end;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
                .title{
                    font-weight: 700;
                    margin-right: 0.5rem;
                }
                .icon{
                    margin-bottom: 0.3rem;
                }
            }
            .reply-comment{
                margin-top: 0.4rem;
                display: flex;
                .side-divider{
                    width: 0.1rem;
                    height: 8rem;
                    margin-right: 1.4rem;
                    background-color: #7B68EE;
                }
            }
            
        }
    }
    
}