.question-body{
    background-color: #ffffff; 
    border-radius: 1rem;
    margin-top: 2.4rem;
    margin-bottom: 4.5rem;
    padding-bottom: 2.0rem;
    padding: 2.2rem;
    padding-top: 0;
    .question-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        padding-top: 2.4rem;
        font-family: "Montserrat";
        .left-heading{
            display: flex;
            flex-direction: row;
            align-items: center;
            .user-avatar{
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 100%;
                margin-right: 0.8rem;
            }
            .user-name{
                font-weight: 600;
                font-size: 1.8rem;
                margin-right: 1.2rem;
            }
            .post-time{
                color: #C2BEBE;
                font-weight: 400;
                font-size: 1.4rem;
            }    
        }
        .right-heading{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            width: 16rem;
            justify-content: flex-end;
            .more-icon{
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
            .manage-modal{
                font-size: 1.4rem;
                position: absolute;
                right: 0.2rem;
                top: 2rem;
                background-color: #ffffff;
                z-index: 10;
                .modal-item{
                    padding: 0.4rem 2rem;
                    &:hover{
                        background-color: #f4f4f4;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
    .question-detail{
        .question-content{
            font-size: 1.6rem;
            padding-bottom: 1rem;
            line-height: 20px;
        }
        .carousel-slider{
            overflow: visible;
        }
        .picture-slider{
            position: relative;
            margin-bottom: 3.2rem;
            .question-picture-container{
                background-color: #f4f4f4;
            }
            .question-picture{
                width: 100%;
            }
            .carousel-status{
                display: none;
            }
            .control-arrow{
                color: #7B68EE;
                background-color: blue;
                position: absolute;
                width: 4rem;
                height: 4rem;
                border-radius: 100%;
                top: 42%;
            }
            .control-next{

            }
            .control-dots{
                position: absolute;
                bottom: -3.6rem;
                .dot{
                    background-color: #C4C4C4;
                    opacity: 1;
                    box-shadow: none;
                }
                .selected{

                    background-color:#7B68EE;
                }
            }
        }
        .question-picture{
            width: 100%;
        }
        .picture-pagination{
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            width: 100%;
            display: none;
            flex-direction: row;
            justify-content: center;
            .tab{
                width: 0.8rem;
                height: 0.8rem;
                background-color: #C4C4C4;
                border-radius: 100%;
                margin-right: 1.2rem;
            }
            .tab.active{
                background-color: #7B68EE;
            }
        }
    }
    .question-interact{
        display: flex;
        align-items: center;
        padding-left: 2.2rem;
        margin-bottom: 0.8rem;
        .interact{
            display: flex;
            font-size: 2.4rem;
            margin-right: 3.8rem    ;
            .icon{
                padding-top: 0.2rem;
                color: #6E6E6E;
                margin-right: 1.2rem;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
                .liked{
                    color: #7B68EE; 
                }
            }
            .icon.icon-2{
                padding-top: 0.4rem;
            }
            .amount{
                padding-top: 0.2rem;
                font-size: 2.0rem;
                font-weight: 600;
                line-height: 2.4rem;
                color: #6E6E6E;
            } 
        }
    }
    .divider{
        height: 0.1rem;
        background-color: #eee;
    }
    .edit-confirm-button{
        width: calc(100%);
        font-size: 2rem;
    }
    .user-reply-comment{
        
        margin-top: 1.2rem;
        width: 100%;
        position: relative;
        .user-reply-heading{
            display: flex;
            width: 100%;
            .current-user-avatar{
                width: 36px;
                height: 36px;
                border-radius: 100%;
                margin-right: 1.2rem;
            }
            .comment-box{
                width: 100%;
                height: 3.6rem;
                margin-right: 2.4rem;
                padding: 1.2rem;
                border-radius: 3.6rem;
                border: 1px solid #999999!important;
            }
            .comment-box:focus{
                border: 1px solid #999999;
            }
            .comment-box:focus-visible{
                border: 1px solid #999999;
            }
            .add-img-label{
                position: absolute;
                right: 6rem;
                top: 0.4rem; 
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
                .add-image-icon{
                    color: #999999;
                }
            }
            
            .send-comment{
                margin-top: 0.4rem;
                margin-left: -0.4rem;
                color: #555;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
        .big-comment-image{
            .big-comment-image-add-hidden{
                display: none;
            }
            .big-comment-img-display-temp-container{
                margin-top: 0.8rem;
                margin-left: 4.4rem;
                animation: spin 10s linear infinite;
                border: 2px dashed #2afc98;
                border-radius: 50%;
                width: 16rem;
                height: 16rem;
                .big-comment-img-display-temp{
                    width: 16rem;
                    height: 16rem;
                    object-fit: cover;
                    animation: spin2 10s linear infinite;
                    border-radius: 50%;
                }
            }
            @keyframes spin { 
                100% { 
                  transform: rotateZ(360deg);
                }
            }
            @keyframes spin2 { 
                100% { 
                  transform: rotateZ(-360deg);
                }
            }
            .big-comment-img-display{
                margin-top: 0.8rem;
                margin-left: 4.4rem;
                width: 16rem;
                height: 16rem;
                object-fit: cover;
            }
        }
        
    }
}