.question-page-container{
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .add-post-section{
        // margin-top: 3.2rem;
        // background-color: #fff;
        // padding-bottom: 1.6rem;
        // border-radius: 1rem;
        .add-post-overall{
            margin-top: 3.2rem;
            background-color: #fff;
            padding-bottom: 1.6rem;
            border-radius: 1rem;
            .add-post-header{
                display: flex;
                .user-avatar{
                    width: 6rem;
                    height: 6rem;
                    border-radius: 100%;
                    margin: 1.6rem;
                }
                .user-question{
                    width: 100%;
                    font-size: 1.6rem;
                    margin: 1.6rem;
                    line-height: 6rem;
                    margin-left: 0;
                    background-color: #f4f4f4;
                    padding-left: 1.6rem;
                    padding-right: 3.6rem;
                    border-radius: 3rem;
                }
                
            }
            .button-add-post{
                width: calc(100% - 3.2rem);
                margin-left: 1.6rem;
                font-size: 2rem;
                height: 4rem;
            }
        }
        .add-post-concrete{
            margin-top: 1.8rem;
            background-color: #fff;
            padding-bottom: 1.6rem;
            border-radius: 1rem;
            .add-post-heading{
                .add-post-title{
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    padding: 1.6rem;
                    font-weight: 600;
                    padding-bottom: 1rem;
                }
                // .divider{
                //     width: 100%;
                //     height: 1px;
                //     background-color: #e2e2e2;
                // }
                .user-info-container{
                    display: flex;
                    .user-avatar{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 100%;
                        margin: 1.6rem;
                    }
                    .user-name{
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 4rem;
                        margin-top: 1.6rem;
                    }
                }
            }
            .add-post-body{
                .post-content-input{
                    margin-left: 1.6rem;
                    width: calc(100% - 3.2rem);
                    font-size: 1.6rem;
                    height: 10rem;
                }
                .image-displayer{
                    margin-left: 1.6rem;
                    display: flex;
                    .temp-image-container{
                        animation: spin 10s linear infinite;
                        border: 2.5px dashed #2afc98;
                        border-top: 1px;
                        border-right: 1px;
                        border-radius: 50%;
                    }
                    .temp-image{
                        width: 16rem;
                        height: 16rem;
                        object-fit: contain;
                        margin-right: 0.8rem;
                        border-radius: 50%;
                        animation: spin2 10s linear infinite;
                    }
                    @keyframes spin { 
                        100% { 
                          transform: rotateZ(360deg);
                        }
                    }
                    @keyframes spin2 { 
                        100% { 
                          transform: rotateZ(-360deg);
                        }
                    }
                    .image-item{
                        border-style: dotted;
                        border-width: 2px;
                        border-color: #c5c5c5;
                        width: 16rem;
                        height: 16rem;
                        object-fit: contain;
                        margin-right: 0.8rem;
                    }
                    .post-image-add{
                        background-color: #fff;
                        border-style: dotted;
                        border-width: 2px;
                        border-color: #c5c5c5;
                        font-size: 1.6rem;
                        width: 16rem;
                        height: 16rem;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        font-weight: 400;
                        margin-bottom: 0rem;
                        &:hover{
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                    .post-image-add-hidden{
                        display: none;
                    }
                }
                .post-adding-button{
                    margin: 1.6rem;
                    width: calc(100% - 3.2rem);
                    font-size: 2rem;
                }
                
            }
        }
        
    }
    .question-container{
        width: 80%;     
    }
}