.question-page-container{
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .add-post-section{
        // margin-top: 3.2rem;
        // background-color: #fff;
        // padding-bottom: 1.6rem;
        // border-radius: 1rem;
        .add-post-overall{
            margin-top: 3.2rem;
            background-color: #fff;
            padding-bottom: 1.6rem;
            border-radius: 1rem;
            .add-post-header{
                display: flex;
                .user-avatar{
                    width: 6rem;
                    height: 6rem;
                    border-radius: 100%;
                    margin: 1.6rem;
                }
                .user-question{
                    width: 100%;
                    font-size: 1.6rem;
                    margin: 1.6rem;
                    line-height: 6rem;
                    margin-left: 0;
                    background-color: #f4f4f4;
                    padding-left: 1.6rem;
                    padding-right: 3.6rem;
                    border-radius: 3rem;
                }
                
            }
            .button-add-post{
                width: calc(100% - 3.2rem);
                margin-left: 1.6rem;
                font-size: 2rem;
                height: 4rem;
            }
        }
        
        
    }
    .question-container{
        width: 80%;     
    }
}