.overlay-modal{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    .not-modal{
        width: 100%;
        height: 100%;
    }
    .show-user-container{
        position: fixed;
        top: 22rem;
        left: calc(50% - 20rem);
        width: 40rem;
        background-color: #fff;
        .show-user-heading{
            display: flex;
            padding: 18px;
            padding-bottom: 1rem;
            justify-content: space-between;
            .title{
                font-size: 20px;
            }
            .like-count{
                font-size: 15px;
                display: flex;
                margin-top: -4px;
                .like-icon{
                    color: #7B68EE;
                }
                .like-concrete{
                    margin-top: 0.2rem;
                    margin-left: 0.4rem;
                }
            }
        }
        .divider{
            width: 100%;
            height: 1px;
            background-color: #e6e6e6;
        }
        .show-user-list{
            margin-bottom: 2rem;
            .user-row{
                display: flex;
                margin-top: 10px;
                margin-left: 1.6rem;
                margin-right: 1.6rem;
                .user-avatar{
                    width: 6rem;
                    height: 6rem;
                    object-fit: cover;
                    border-radius: 100%;
                }
                .user-name{
                    font-size: 1.6rem;
                    margin-top: calc((6rem - 1.6rem)/2);
                    margin-left: 2rem;
                }
            }
            
        }
    }
}