.add-document-wrapper{
    margin-left: 0;
    margin-right: 0;
    height: 60rem;
    position: relative;
    .document-info-container{
        .back-to-manage{
            display: flex;
            margin-bottom: 1.4rem;
            .icon{
                color: #747474;
            }
            .title{
                font-size: 1.4rem;
                line-height: 2rem;
                color: #747474;
                margin-left: 1.6rem;
                &:hover{
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
        .document-info-item{
            margin-bottom: 1.8rem;
            width: 80%;
            .title{
                font-weight: 600;
                font-size: 1.8rem;
                margin-bottom: 0.8rem;
            }
            .text-info{
                width: 100%;
            }
            .selection-info{
                width: 100%;
            }
            .heading-container{
                display: flex;
                justify-content: space-between;
                .title{
                    font-weight: 600;
                    font-size: 1.8rem;
                    margin-bottom: 0.8rem;
                }
                .document-type-manage{
                    font-weight: 600;
                    font-size: 1.4rem;
                    color: #7B68EE;
                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .document-frame-container{
        .document-manage{
            display: flex;
            justify-content: flex-end;
            .manage-item{
                display: flex;
                margin-left: 4rem;
                .icon{
                    margin-right: 1rem;
                }
                .label{
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
                &:hover{
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
        .iframe-container{
            .iframe-concrete{
                height: 50rem;
            }
        }
        .iframe-manage{
            display: flex;
            justify-content: flex-end;
            margin-top: 0.4rem;
            .manage-button{
                font-family: 'Montserrat';
                font-size: 1.8rem;
                line-height: 1.8rem;
                padding: 1.2rem;
                border-radius: 1rem;
                text-transform: none;
                margin-left: 1.2rem;
            }
            .cancel {
                background-color: #CC3D3D;
            }
        }
    }
}