.document-wrapper{
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0rem;
    .title{
        padding-top: 4.2rem;
        width: 100%;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        line-height: 2.4rem;
    }
    .table-container{
        text-align: center;
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        .table-header{
            margin-left: 1.2rem;
            margin-right: 2.4rem;
            justify-self: center;
            
            .heading{
                display: flex;
                justify-content: space-between;
                padding-top: 1.2rem;
                margin-bottom: 1.6rem;
                .header{
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 2.4rem;
                }
                .export{
                    display: flex;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 2.4rem;
                    .export-title{
                        margin-left: 1rem;
                    }
                }
            }
            .filter-container{
                display: flex;
                margin-bottom: 2rem;
                .filter-label{
                    display: flex;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 2.4rem;
                }
                .filter-input{
                    height: 2.4rem;
                    margin-left: 1.2rem;
                }
            }
        }
    }   
    .document-manage{
        display: flex;
        justify-content: flex-end;
        margin: 1.2rem;
        margin-top: 0;
        .add-document{
            background-color: #2CA94F;
            font-size: 1.4rem;
            font-family: 'Montserrat';
            color: #fff;
            padding: 1.2rem;
            margin-bottom: 1.2rem;
            border-radius: 0.8rem;
        }
    }
}