.datagrid-container{
    padding: 1.2rem;
}
.MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
    font-family: 'Montserrat';
}
.MuiTablePagination-selectLabel {
    font-size: 1.4rem;
    font-family: 'Montserrat';
    font-weight: 500;
}
.MuiTablePagination-select{
    margin-top: 3px;
    font-family: 'Montserrat';
}
.MuiTablePagination-menuItem{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}
.MuiTablePagination-displayedRows{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}
.MuiDataGrid-selectedRowCount{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}
.MuiSvgIcon-root {
    width: 24px;
    height: 24px;
    // margin-left: -16px;
}
.MuiDataGrid-cellContent{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}
.MuiDataGrid-virtualScroller{
    overflow-y: auto;
}
.MuiMenuItem-gutters {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}

.MuiDataGrid-filterFormColumnInput{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}

.MuiInputLabel-formControl{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Montserrat';
}

.MuiNativeSelect-select {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}

.MuiInputBase-input {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}

.MuiDataGrid-overlay{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat';
}

.edit-document-button {
    background-color:#ebca14;
    color: #fff;
    margin-left: 1.6rem;
    font-family: 'Montserrat';

}

.delete-document-button{
    background-color:#CC3D3D;
    color: #fff;
    margin-left: 1.6rem;
    font-family: 'Montserrat';
}

.div-custom-manage{
    display: flex;
}

.MuiDataGrid-cellContent{
    &:hover{
        cursor: pointer;
    }
}