.document-page-container{
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .document-container{
        width: 80%;
        .document-body{
            background-color: #ffffff; 
            border-radius: 10px;
            margin-top: 4.8rem;
            margin-bottom: 4.5rem;
            padding: 1.6rem;
            .back-to-list-document{
                font-size: 1.4rem;
                .back-icon{
                    margin-right: 0.6rem;
                }
                &:hover{
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
            .document-title{
                font-size: 2.6rem;
                text-transform: uppercase;
                text-align: center;
                margin-top: 2rem;
            }
            .document-information{
                .information-row{
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.6rem;
                    margin-top: 1.4rem;
                }
                .information-row-2{
                    display: flex;
                    font-size: 1.6rem;
                    margin-top: 1rem;
                    margin-bottom: 3.2rem;
                    .document-type{
                        margin-right: 1rem;
                        line-height: 2.8rem;
                    }   
                    .document-type-container{
                        display: flex;
                        .document-item{
                            border: 1px solid #fff;
                            margin-right: 0.6rem;
                            padding: 0.6rem;
                            padding-left: 1.2rem;
                            padding-right: 1.2rem;
                            border-radius: 1.2rem;
                            background-color: #8c52ff;
                            color: #ffffff;
                        }
                    }
                }
            }   
            .document-iframe{
                .iframe-concrete{
                    height: 80rem;
                }
            }
        }
    }
}