.card-body{
    display: flex;
    flex-direction: row;
    box-shadow: .2rem .2rem .4rem rgba(0,0,0,0.2);
    margin: 1.0rem;
    margin-right: 2.0rem;
    margin-left: 2.4rem;
    position: relative;
    border-radius: 1.0rem;
    .document-type{
        width: 2.5rem;
        height: 3.5rem;
        margin-top: 1.3rem;
        margin-right: 2.6rem;
        margin-left: 1.5rem;
    }
    .document-title{
        line-height: 6.0rem;
        font-size: 1.6rem;
        width: 65%; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    
    .view-container{
        display: flex;
        position: absolute;
        right: 0;
        .view-icon{
            height: 6.0rem;
            margin-right: .8rem;
        }
        .view-number{
            line-height: 6.0rem;
            margin-right: 1.2rem;
            font-size: 1.6rem;
        }
    }
    &:hover{
        background-color: #f1f1f1!important;
        cursor: pointer;
    }

}