.card-body{
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin: 10px;
    margin-right: 20px;
    position: relative;
    border-radius: 10px;
    .document-type{
        width: 25px;
        height: 35px;
        margin-top: 13px;
        margin-right: 26px;
        margin-left: 15px;
    }
    .document-title{
        line-height: 60px;
    }
    .view-container{
        display: flex;
        position: absolute;
        right: 0;
        .view-icon{
            height: 60px;
            margin-right: 8px;
        }
        .view-number{
            line-height: 60px;
            margin-right: 12px;
        }
    }
    &:hover{
        background-color: #f1f1f1!important;
        cursor: pointer;
    }

}