.edit-course-wrapper{
    .course-action{
        .leading-icon-button{
            margin-left: 12px;
        }
    }


    .left-side-wrapper {
        margin-top: 18px;

        .course-name {
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          margin-bottom: 18px;
        }
    
        .section-title {
          font-size: 2rem;
          margin-top: 36px;
          margin-bottom: 18px;
        }
    
        .course-description-section {
          .course-description {
            font-size: 1.4rem;
          }
        }
    
        .check-list-tile {
          display: flex;
          font-size: 1.4rem;
          align-items: flex-start;
          line-height: 1.7;
    
          .check-list-icon {
            height: 18px;
            width: 18px;
            position: relative;
            margin-right: 12px;
    
            svg {
              position: absolute;
              top: 2px;
            }
          }
        }
    
        .course-lesson-section {
          .course-volume-description {
            font-size: 1.4rem;
            color: var(--fade-text-color);
            margin-bottom: 21px;
            margin-top: -6px;
          }
    
          .chapter-wrapper {
            .chapter-toogle {
              padding: 12px;
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
              margin-bottom: 12px;
              border-radius: 5px;
              padding-left: 36px;
              position: relative;
              background-color: #f4f4f4;
    
              &:hover {
                cursor: pointer;
              }
    
              &::before {
                content: attr(dataBefore);
                position: absolute;
                left: 18px;
                font-size: 2rem;
                font-weight: 300;
                color: var(--primary-color);
              }
            }
    
            span {
              font-size: 1.4rem;
            }
    
            .chapter-name {
              font-weight: 600;
            }
    
            .course-lesson-tile {
              margin-left: 86px;
              padding: 12px;
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
              border-radius: 5px;
              margin-bottom: 12px;
    
              &:hover {
                cursor: pointer;
                transform: translateY(-5px);
              }
    
              .lesson-name {
                margin-left: 12px;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    
}
