
.exam-detail{
    min-height: 70rem;
    .exam-name-time_group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3.8rem;
        padding: 0rem 0rem 0rem 1.3rem;
        .name-exam{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            width: 60%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .timer-component{
            span{
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #7B68EE;
            }
        }
    }
    .exam-grid{
        margin: 0rem;
        display: flex;
        flex-wrap: wrap;
        .question-detail_box{
            padding: 1.3rem;
            .prev-next_btn{
                display: flex;
                justify-content: space-between;
                padding: 0rem 0rem 1.1rem;
                button{
                    background-color: #3DA43B;
                    font-family: 'Montserrat';
                    text-transform: none;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            .question-detail{
                padding: 1rem 0rem;
                min-height: 20.2rem;
                .css-u4tvz2-MuiFormLabel-root{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                    margin-bottom: 2.4rem;
                }
                .radio-group{
                    div{
                        margin-bottom: 1.2rem;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;

                    }
                        .input-radio{
                            accent-color: #7B68EE;
                            margin-right: 1rem;
                            min-width: 1px !important;
                        }
                        .check-content{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            color: #000000;
                            margin: 0rem;
                        }
                }
            }
            .btn-answer{
                padding: 1.2rem 0rem;
                button{
                    background-color: #7B68EE;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: none;
                }
            }
        }
        .question-group{
            padding: 1.3rem;
            .list-question-wrapper{ 
                position: relative;
                justify-content: center;
                width: 100%;
                height: 27.6rem;
                .list-question_box{
                    border: 1px solid #939393;
                    border-radius: 5px;
                    width: 43rem !important;
                    height: 27.6rem;
                    right: 0rem;
                    .button-group{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 0.6rem;
                        button{
                            border: 1px solid #F0F0F0;
                            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 5px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                            width: 4rem;
                            height: 4rem;
                            margin: 0.6rem;
                        }
                    }
                    
                }
            }
           
            .btn-submit{
                text-align: end;
                padding-top: 1.1rem;
                button{
                    background: #D83333;
                    border-radius: 5px;
                    text-transform: none;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
    
}