.app-body{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: nowrap;

    .navigation{
        width: 88px;
        height: 100%;
    }
    .app-content{
        background-color: #f4f4f4;
        padding-top: 66px;
        flex: 1;
    }
}